@page "/cadastrarCards"
@inject IRepository<YuGioH> yugiRepo

<h3>CadastroCards</h3>

<form>
    <div class="form-login justify-content-center">
        <div class="d-block">
            <label>Nome:</label>
            <input name="name_cadastro" type="text" @bind=yuGioH.Nome class="form-control" />
        </div>

        <div class="d-block">
            <label>Tipo:</label>
            <input name="tipo_cadastro" type="text" @bind=yuGioH.Tipo class="form-control" />
        </div>

        <div class="d-block">
            <label>Pontos de Defesa:</label>
            <input name="def_cadastro" type="text" @bind=yuGioH.DEF class="form-control" />
        </div>

        <div class="d-block">
            <label>Pontos de Ataque:</label>
            <input name="atk_cadastro" type="text" @bind=yuGioH.ATK class="form-control" />
        </div>
        <br />

        <div class="custom-file">
            <InputImg Label="Imagem" OnSelectedImage="ImagemSelecionada" ImageURL="@imageURL"></InputImg>
        </div>

        <br />

        <button @onclick=CadastrarCards class="btn btn-primary bt-cadastro"> Cadastrar </button>

    </div>
</form>



@code {
    YuGioH yuGioH = new YuGioH();
    string imageURL;

       private void ImagemSelecionada(string imageBase64)
    {
        yuGioH.ImgUrl = imageBase64;
        imageURL = null;
    }

    public async void CadastrarCards()
    {
        //Chama Api de Cadastro de Pokemon
        await yugiRepo.Add(yuGioH);
        Console.WriteLine("Card Adicionada ao Deck");
    }
}
