@page "/cadastrarCards"
@inject IRepository<YuGioH> yugiRepo

<h3>CadastroCards</h3>


<p>Nome:</p>
<input type="text" @bind=yuGioH.Nome /> 
<p>Tipo:</p>
<input type="text" @bind=yuGioH.Tipo /> 
<p>Pontos de Defesa:</p>
<input type="text" @bind=yuGioH.DEF /> 
<p>Pontos de Ataque:</p>
<input type="number" @bind=yuGioH.ATK /> 
<InputImg Label="Imagem" OnSelectedImage="ImagemSelecionada" ImageURL="@imageURL" ></InputImg>
<button @onclick=CadastrarCards> Cadastrar </button>

@code {
    YuGioH yuGioH = new YuGioH();
    string imageURL;

       private void ImagemSelecionada(string imageBase64)
    {
        yuGioH.ImgUrl = imageBase64;
        imageURL = null;
    }

    public async void CadastrarCards()
    {
        //Chama Api de Cadastro de Pokemon
        await yugiRepo.Add(yuGioH);
        Console.WriteLine("Card Adicionada ao Deck");
    }
}
