@page "/"
@layout BlankLayout

<div class="content">
    <div class="col-md-6">
        <div>
            <a class="btn btn-primary" href="cadastrarcards" role="button">Cadastrar Cards</a>
        </div>
        <br/>
        <div>
            <a class="btn btn-primary" href="Deck" role="button">Deck</a>
        </div>
        <br/>
        <div>
            <a class="btn btn-primary" href="visualizarcards" role="button">Visualizar Cards</a>
        </div>
    </div>
</div>

@code {

}
