@page "/visualizarCards"
@layout BlankLayout
@inject IRepository<YuGioH> yugiRepo

<h3>Visualizar Carta</h3>

<div class="justify-content-center" style="width: 100%; text-align: center;">
@if (cardAtual != null)
{
    
    <TemplateCard Card=@cardAtual />
    
    <div class="buttons">
    @if (idAtual > 1)
    {
        <button @onclick=IrParaAnterior> Anterior</button>
    }

    @if (idAtual < idMax)
    {
        <button @onclick=IrParaProximo> Proximo </button>
    }
    </div>
}
else
{
    <h2>Carregando</h2>
}
</div>

@code {
    YuGioH? cardAtual = null;
    private int idAtual = 1;
    private int idMax;

    protected async override Task OnInitializedAsync()
    {
        cardAtual = await yugiRepo.Get(idAtual);
        idMax = (await yugiRepo.Get()).Count;
    }

    public async void IrParaAnterior()
    {
        idAtual--;
        Console.WriteLine("Requisitando carta: " + idAtual);
        cardAtual = null;
        cardAtual = await yugiRepo.Get(idAtual);
        Console.WriteLine("Carta encontrada!");
        StateHasChanged();

    }

    public async void IrParaProximo()
    {
        idAtual++;
        Console.WriteLine("Requisitando Pokemon: " + idAtual);
        cardAtual = null;
        cardAtual = await yugiRepo.Get(idAtual);
        Console.WriteLine("Carta encontrada!");
        StateHasChanged();

    }


}
